
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto Flex', sans-serif;
    color: #f4f4f4;
    font-size: clamp(14px, 1.5vw, 24px);
    background-color: #40607c; /* Couleur de fond */
}

.main {
    margin-left: 190px;
    padding: 20px; 
}

/*********************************
 * DESIGN PAGE
 *********************************/
 .en-tete {
    display: flex;
    justify-content: center; /* Sépare les éléments avec de l'espace */
    align-items: center; /* Aligne verticalement les éléments */
    flex-wrap: wrap; /* Permet le retour à la ligne sur petits écrans */
    gap: 10px; /* Ajoute un espace entre les éléments */
    column-gap: 40px;
    margin-bottom: 20px; /* Espace sous l'en-tête */
}

.recherche {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar {
    width: 400px;
    height: 37px;
    border: 2px solid #ccc;
    border-radius: 25px 0 0 25px;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    border-right: none;
    background-color: #fff;
}

#search-button {
    height: 40px;
    width: 50px;
    border: 2px solid #ccc;
    border-radius: 0 25px 25px 0;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: none;
}

.flexContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centre horizontalement */
    align-items: flex-start; /* Aligne les éléments en haut */
    gap: 20px; /* Espacement entre les cartes */
}


.joueur {
    margin : 20px;
    min-width: 150px;
    max-width: 23%;
    flex: 1 1 25%;
    background-color: #fdfdfd;
    color: #111111;
    border-radius: 8px;
    overflow: hidden;
}

.joueur div {
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    overflow: hidden;
    display: flex; /* Utilise flexbox pour le centrage */
    flex-direction: column; /* Aligne les éléments verticalement */
}
.joueur div h5{
    text-align: center;
    color:#e55c36;
    font-size: clamp(10px, 1.2vw, 35px);
    overflow: hidden;
    display : inline;
}

.joueur div span{
    text-align: center;
    display: inline-block;
    font-size: clamp(10px, 1.3vw, 35px);
    overflow: hidden;
}

#btn-ajouter-joueur{
    padding: 10px 20px;
    font-size: clamp(14px, 1vw, 18px);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #e55c36;
}